<h2><%= t("admin.legislators.index.title") %></h2>

<%= render "admin/shared/user_search", url: search_admin_legislators_path %>

<div id="legislators">
  <% if @legislators.any? %>
    <h3><%= page_entries_info @legislators %></h3>

    <table>
      <thead>
        <th scope="col"><%= Legislator.human_attribute_name(:name) %></th>
        <th scope="col"><%= Legislator.human_attribute_name(:email) %></th>
        <th scope="col" class="small-3"><%= t("admin.shared.actions") %></th>
      </thead>
      <tbody>
        <% @legislators.each do |legislator| %>
          <tr>
            <td>
              <%= legislator.name %>
            </td>
            <td>
              <%= legislator.email %>
            </td>
            <td>
              <%= render Admin::Roles::TableActionsComponent.new(legislator) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @legislators %>
  <% else %>
    <div class="callout primary margin">
      <%= t("admin.legislators.index.no_legislators") %>
    </div>
  <% end %>
</div>
