<div class="secondary callout is-hidden js-legislation-process-users-list small-12" data-toggler="is-hidden" data-closable id="<%= assignable_type %>_list">
  <% if assignables.nil? || assignables.empty? %>
    <p><%= t("admin.legislation.legislators.edit.empty_#{assignable_type}") %></p>
  <% else %>
    <fieldset>
      <legend><%= t("admin.legislation.legislators.edit.#{assignable_type}", count: 0) %></legend>
      <% field = "#{assignable_type.chomp("s")}_ids" %>
      <%= form.collection_check_boxes field, assignables, :id, :description_or_name_and_email do |box| %>
        <%= box.label { box.check_box + box.text } %>
      <% end %>
    </fieldset>
  <% end %>
</div>
